<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
    {% extends 'base.html' %}
      {% block overall %}
        <div> 
            <div class="cart">
                {% block content %}
                <h2> Cart </h2>
                    <table border='1' align = 'center'>
                        <tr>
                          <th> Item </th>
                          <th> Cost </th>
                          <th> Quantity </th>
                        </tr>
    
                        {% for p in orderlist %}
                        <tr>
                          <td>{{ p.food }}</td>
                          <td>{{ p.price * p.quantity }}</td>
                          <td>{{ p.quantity }}</td>
                        </tr>
                        {% endfor %}
                        {% endblock %}
                    </table>

                    <h4> total price : ${{totalprice}} </h4>
                    <h4 style="color: blue;"> ${{difference}} away from minimum order!</h4>
    
                    <div class="choosefood" style="width:50%; display: inline-block;">
                        <h4> Delete from Cart </h4>
                        <form name="restaurant" action="deletefromcart" method='POST'>
                          <select name="foodid" onchange="this.form.submit()">
                            {% for f in orderlist %}
                              <option value="{{f.foodid}}" SELECTED> {{f.food}} </option>
                            {% endfor %}
                            <option value="" disabled selected> Choose an item to delete </option>
                          </select>
                        </form>
            
                        <br>
                        <form method="POST" action="backto">
                            <button type="submit"> Back to Order Page </button>         
                        </form>
                        <form method="POST" action="checkout">
                            <button type="submit"> Proceed to CheckOut </button>         
                        </form>
                    </div>
            </div> 
        </div>
        {% endblock %}
    </body>
</html>