<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
        <div class="results" style="width:50%; float: left;">
            {% block content %}
            <h2> Cart </h2>
                <table border='1' align = 'center'>
                    <tr>
                      <th> Item </th>
                      <th> Cost </th>
                      <th> Quantity </th>
                    </tr>

                    {% for p in orderlist %}
                    <tr>
                      <td>{{ p.food }}</td>
                      <td>{{ p.price * p.quantity }}</td>
                      <td>{{ p.quantity }}</td>
                    </tr>
                    {% endfor %}
                    {% endblock %}
                </table>

                {% for t in totalprice %}
                <p> total price : {{t.total}} </p>
                {% endfor %}

                <form method="POST" action="backto">
                    <button type="submit"> Back to Order Page </button>         
                </form>
        </div>
</html>