<!DOCTYPE html>
<html lang="en">
<link rel = "stylesheet" type = "text/css" href = "../static/login.css" />
<input type="radio" checked id="toggle--login" name="toggle" class="ghost" />
<input type="radio" id="toggle--signup" name="toggle" class="ghost" />



<img class="logo framed" src="{{ url_for('static', filename='FoodSantaLogo.png') }}" alt="FoodSantaLogo" />

<form action="/login" name="login-form" method="POST" class="form form--login framed">
    <h2 class="text--centered text--omega--login text input--normal"><b>Welcome to foodsanta!</b></h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2 class="text--centered text--omega--login text input--normal"><b>{{ message }}</b></h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <input type="text" placeholder="Username" class="input input--top" name="username" />
    <input type="text" placeholder="Password" class="input" name="password" />
    <input type="submit" value="Log in" class="input input--submit"/>
    <label for="toggle--signup" class="text text--small text--centered">New? <b>Sign up</b></label>
</form>

<form action="/signup" name="login-signup" class="form form--signup framed">
    <h2 class="text--centered text--omega--signup text input--normal"><b>Join us as a customer, delivery rider or staff!</b></h2>
    <input type="submit" value="Sign up" class="input input--signup" />
    <label for="toggle--login" class="text text--small text--centered">Not new? <b>Log in</b></label>
</form>

<body style="background: url('{{ url_for('static', filename='loginbg.jpg') }}'); background-size: cover"></body>

</html>