<!DOCTYPE html>

<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
      {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h2 class="text--centered text--omega--login text input--normal" style="color: red; font-size: 18px;"><b>{{ message }}</b></h2>
                        {% endfor %}
                    {% endif %}
      {% endwith %}
    {% extends 'base.html' %}
      {% block overall %}
        <div style="display: inline"> 
          <div class="results" style="width:50%; float: left;">
            {% block content %}
          <h2> Details </h2>
              <table align = 'center'>
                  {% for p in profile %}
                  <tr>
                    <td> <h4> Name: </h4></td>
                    <td>{{ p.name }}</td>
                  </tr>
                  <tr>
                    <td><h4> Contact Number: </h4></td>
                    <td>{{ p.number }}</td>
                  </tr>
                  <tr>
                    <td> <h4> Foodsanta Points: </h4></td>
                    <td>{{ p.points }}</td>
                  </tr>
                  {% endfor %}
              {% endblock %}
              </table>
              <table border='1' align = 'center'>
                <h4> Card Details </h4>
                {% for c in cardlist %}
                <tr>
                    <td> {{ c.card }} </td>
                </tr>
              {% endfor %}
            </table>
          </div>
 
          <div class="editprofile" style="width:50%; display: inline-block;">
            <h2> Edit Profile </h2>
            <form method="POST" action="editprofile" autocomplete="off">
                <table  align = 'center'>
                    <tr>
                        <td> Contact: </td>
                        <td> <input type="tel" pattern="[89]{1}[0-9]{7}" name="contact" placeholder="Update Contact Number"> </td>
                    </tr>
                    <tr>
                        <td> New Card: </td>
                        <td> <input type="tel" name="card" pattern="[0-9]{16}" placeholder="Enter your 16 digit card number"> </td>
                    </tr>
    
                    <tr>
                        <td> Remove Card: </td>
                        <td> <input name="delete" list="cards"> </td>
                    </tr>
                    <tr>
                        <td colspan="2"> <input type="Submit" value="Update"> </td>
                    </tr>
                </table>  
            </form>

            <datalist id="cards">
                {% for c in cardlist %}
                  <option value="{{c.card}}">
                {% endfor %}
            </datalist>
          </div>
        </div>
        
      {% endblock %}
    </body>
</html>

<!--
  
-->
