<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/signup.css">
</head>

<body style="background: url('{{ url_for('static', filename='signupbg.jpg') }}'); background-size: cover">
    <div class="box">
        <h1 class="text text--centered text--success">Registration successful!<br> Click below to go back to login page.</h1>
        <div class="text--centered">
            <a href="/login" class="button text--centered text--success">Login Page</a>
        </div>
    </div>
</body>
</html>