
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
    {% extends 'base.html' %}
      {% block overall %}
        <div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <h2 class="text--centered text--omega--login text input--normal" style="color: red; font-size: 15px;"><b>{{ message }}</b></h2>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="container">
          <div> 
            <form name="chosen" action="restresults" method='GET' autocomplete="off">
              <h2 for="restaurant"> Search for a Restaurant </h2>
                <input name="chosen" list="restlist" onchange="this.form.submit()">
            </form>
  
            <datalist id="restlist">
              {% for r in restlist %}
                <option value="{{r.restname | safe}}">
              {% endfor %}
            </datalist>
          </div>
          <div style="width: 50%; margin:0 auto;">
            <div style="width:50%; float:left;"> 
              <h3> Search by Category </h3>
              <form action="catresults" method='GET' autocomplete="off">
                  <input name="category" list="catlist" onchange="this.form.submit()">
              </form>
              <datalist id="catlist">
                {% for r in catlist %}
                  <option value="{{r.cat}}">
                {% endfor %}
              </datalist>
            </div>
            
            <div style="width:50%; display:inline-block"> 
              <form name="chosen" action="restresults" method='GET' autocomplete="off">
                <h3>Restaurants offering {{category}} </h3>
                  <input name="chosen" list="catrestlist" onchange="this.form.submit()">
              </form>
              <datalist id="catrestlist">
                {% for r in catrestlist %}
                  <option value="{{r.restname | safe}}">
                {% endfor %}
              </datalist>
            </div>
          </div>
        </div>
          
        <br>

        <div> 
          <div class="results" style="width:50%; float: left;">
            {% block content %}
              {% if foodlist %}
              <h2> Menu for {{rest}} </h2>
              <table border='1' align = 'center' style="margin-top: 0px;">
                  <tr>
                    <th> Category </th>
                    <th> Item </th>
                    <th> Price </th>
                    <th> Availability </th>
                  </tr>
                  {% for p in foodlist %}
                  <tr>
                    <td> {{p.cat}} </td>
                    <td>{{ p.food | safe }}</td>
                    <td>{{ p.price }}</td>
                    <td> {{p.avail}} </td>
                  </tr>
                  {% endfor %}
              </table>
              <h4> Min. order : ${{minAmt}} </h4>
              {% elif catrestlist %}
              <h2> Restaurants offering {{category}} </h2>
              <table border='1' align = 'center' style="margin-top: 0px;">
                <tr>
                  <th> Restaurant </th>
                </tr>
                {% for r in catrestlist %}
                <tr>
                  <td> {{r.restname}} </td>
                </tr>
                {% endfor %}
              </table>
              {% endif %}
            {% endblock %}
          </div>
          
          <div class="choosefood" style="width:50%; display: inline-block;">
            <h2> Add to Cart </h2>
            <form name="restaurant" action="addtocart" method='POST'>
              <select name="foodid" onchange="this.form.submit()">
                {% for f in foodlist %}
                  <option value="{{f.foodid}}" SELECTED> {{f.food | safe}} </option>
                {% endfor %}
                <option value="" disabled selected> Select your food </option>
              </select>
            </form>

            <br>
            <form method="POST" action="viewcart" style="width: auto;">
              <button type="submit"> View Cart </button>         
            </form>
          </div>
        </div>

        
        <div class="reviews">
          <br> <br> <br> <br> <br> <br>
          <h1> Reviews </h1>

        {% for p in reviewlist %}
          <table align = 'center'>
            <tr>
              <td style="font-weight:bold" >{{ p.username }}: </td>
              <td> <q> {{ p.review | safe}} </q></td>
            </tr>
        </table>
        {% endfor %}
        </div>
      {% endblock %}
    </body>
</html>

<!--
  
-->


