<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
        <div class="container" >
          <form name="chosen" action="restresults" method='GET'>
            <h1 for="restaurant"> Choose a restaurant </h1>
            <select name="chosen" onchange="this.form.submit()">
              {% for r in restlist %}
                <option value="{{r.restid}}" SELECTED> {{r.restname}} </option>
              {% endfor %}
              <option value="" disabled selected> Select your restaurant </option>
            </select>
          </form>
        </div>
        <br>
        <div style="display: inline"> 
          <div class="results" style="width:50%; float: left;">
          {% block content %}
          <h2> Menu </h2>
              <table border='1' align = 'center'>
                  <tr>
                    <th> Item </th>
                    <th> Price </th>
                  </tr>
                  {% for p in foodlist %}
                  <tr>
                    <td>{{ p.food }}</td>
                    <td>{{ p.price }}</td>
                  </tr>
                  {% endfor %}
                  {% endblock %}
              </table>
          </div>
 
          <div class="choosefood" style="width:50%; display: inline-block;">
            <h2> Add to Cart </h2>
            <form name="restaurant" action="addtocart" method='POST'>
              <select name="foodid" onchange="this.form.submit()">
                {% for f in foodlist %}
                  <option value="{{f.foodid}}" SELECTED> {{f.food}} </option>
                {% endfor %}
                <option value="" disabled selected> Select your food </option>
              </select>
            </form>

            <form method="POST" action="viewcart">
              <button type="submit"> View Cart </button>         
            </form>
          </div>
        </div>
        

    </body>
</html>

<!--
  
-->

