
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
    {% extends 'base.html' %}
      {% block overall %}
        <div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <h2 class="text--centered text--omega--login text input--normal" style="color: red; font-size: 15px;"><b>{{ message }}</b></h2>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="container" >
          <form name="chosen" action="restresults" method='GET'>
            <h1 for="restaurant"> Choose a restaurant </h1>
            <select name="chosen" onchange="this.form.submit()">
              {% for r in restlist %}
                <option value="{{r.restid}}" SELECTED> {{r.restname}} </option>
              {% endfor %}
              <option value="" disabled selected> Select your restaurant </option>
            </select>
          </form>
        </div>
        <br>

        <div> 
          <div class="results" style="width:50%; float: left;">
            {% block content %}
          <h2> Menu </h2>
              <table border='1' align = 'center' style="margin-top: 0px;">
                  <tr>
                    <th> Item </th>
                    <th> Price </th>
                  </tr>
                  {% for p in foodlist %}
                  <tr>
                    <td>{{ p.food }}</td>
                    <td>{{ p.price }}</td>
                  </tr>
                  {% endfor %}
              {% endblock %}
              </table>
              <h4> Min. order : ${{minAmt}} </h4>
          </div>
          
          <div class="choosefood" style="width:50%; display: inline-block;">
            <h2> Add to Cart </h2>
            <form name="restaurant" action="addtocart" method='POST'>
              <select name="foodid" onchange="this.form.submit()">
                {% for f in foodlist %}
                  <option value="{{f.foodid}}" SELECTED> {{f.food}} </option>
                {% endfor %}
                <option value="" disabled selected> Select your food </option>
              </select>
            </form>

            <br>
            <form method="POST" action="viewcart" style="width: auto;">
              <button type="submit"> View Cart </button>         
            </form>
          </div>
        </div>

        
        <div class="reviews">
          <br> <br> <br> <br> <br> <br>
          <h1> Reviews </h1>

        {% for p in reviewlist %}
          <table align = 'center'>
            <tr>
              <td style="font-weight:bold" >{{ p.username }}: </td>
              <td> <q> {{ p.review }} </q></td>
            </tr>
        </table>
        {% endfor %}

        </div>
        
      {% endblock %}
    </body>
</html>

<!--
  
-->

