
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body>
        <div class="results">
          {% block content %}
          <h2> Menu </h2>
              <table border='1'>
                  <tr>
                  <th> Item </th>
                  <th> Price </th>
                  </tr>
                  {% for p in posts %}
                  <tr>
                  <td>{{ p.food }}</td>
                  <td>{{ p.price }}</td>
                  </tr>
                  {% endfor %}
                  {% endblock %}
              </table>
        </div>
    </body>
</html>