<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
      {% extends 'riderbase.html' %}
      {% block overall %}
        <div class="container" >
          <h1> You have been allocated an order with the following details! </h1>
          {% for o in allocatedOrder %}
          <table border="1", style='margin-top: 20px;' align='center'> 
            <tr>
              <td> orderid: </td>
              <td>{{ o.orderid }}</td>
            </tr>
            <tr>
              <td> To pick up from restaurant location: </td>
              <td>{{ o.restLocation }}</td>
            </tr>
            <tr>
              <td> To deliver to from customer location: </td>
              <td>{{ o.custLocation }}</td>
            </tr>            
          </table>
          {% endfor %}
        </div>

        <br>
        <form action="collectFromRestaurant">
          <button type="submit"> Ok! Let's make this delivery </button>         
        </form>
      {% endblock %}  
      </body>  
</html>      