<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center' action="orderDelivered">
    	{% extends 'riderbase.html' %}
      	{% block overall %}
        <h1> This delivery is completed. </h1>
        <h2> You have completed {{ numOrders }} deliveries so far! </h2>
    	<form method="POST" action="newDelivery">
        	<button type="submit"> Make another delivery </button>         
    	</form>
    	{% endblock %}
	</body>

    
</html>