<!DOCTYPE html>

<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
    {% extends 'riderbase.html' %}
      {% block overall %}
        <div style="display: inline"> 
          <div class="results" style="width:100%;">
            {% block content %}
          <h2> Select a past month to view: </h2>
              <table border='1' align = 'center'>
                <form action="/getPrevFullTimeScheduleResult" name="getprevfulltimescheduleresult" method='POST'>
                  <input type="month" id="monthYear" name="monthYear" max="{{ monthYear }}" value="{{ monthYear}}">
                  <input type="submit">
                </form>
            </table>
            <br></br>
            <form action="/getFullTimeSchedule" name="getfulltimeschedule">
              <input type="submit" value="Back"/>
            </form>
          </div>
        </div>
      {% endblock %}
    </body>
    {% endblock %}
</html>

<!--
  
-->
