<!DOCTYPE html>

<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
    {% extends 'riderbase.html' %}
      {% block overall %}
        <div style="display: inline"> 
          <div class="results" style="width:100%;">
            {% block content %}
          <h2> Full Time Schedule for {{ monthYear }}</h2>
              <table border='1' align = 'center'>
                {% for s in schedule %}
                <tr>
                  <th>{{ s.day }}</th>
                  <td>{{ s.shift }}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br>
            <form action="/setFullTimeSchedule" name="setfulltimeschedule">
                <input type="submit" value="Update next month's schedule"/>
            </form>
            <form action="/getFullTimeSchedule" name="getfulltimeschedule">
              <input type="submit" value="Back"/>
            </form>
          </div>
        </div>
      {% endblock %}
    </body>
    {% endblock %}
</html>

<!--
  
-->
