<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/signup.css">
</head>

<body style="background: url('{{ url_for('static', filename='signupbg.jpg') }}'); background-size: cover">
    <div class="box">
        <img class="image" src="{{ url_for('static', filename='FoodSantaTruckLogo.png') }}" />
        <form class="" action="/signup" name="signup-form" method="POST">
            <h2 class="text--centered text">Are you ready to join us?</h2>
 
            <input type="text" placeholder="Username (Your unique username!)" class="input" name="username" />
            <input type="text" placeholder="Name (How would you like to be addressed?)" class="input" name="name" />
            <input type="text" placeholder="Password" class="input" name="password" />
            <input type="text" placeholder="Retype Password" class="input" name="repassword" />

            <h3 class="text--centered text">What do you wish to sign up as?</h3>
            
            <input type="radio" class="input--radio text--centered" id="customer" name="usertype" value="customer">
            <label class="text--centered text--options" for="Customer"><b>Customer</b></label><br>
            <input type="radio" class="input--radio text--centered" id="deliveryrider" name="usertype" value="deliveryrider">
            <label class="text--centered text--options" for="DeliveryRider"><b>Delivery Rider</b></label><br>
            <input type="radio" class="input--radio text--centered" id="restaurantstaff" name="usertype" value="restaurantstaff">
            <label class="text--centered text--options" for="RestaurantStaff"><b>Staff</b></label><br>
            
            <input type="submit" value="Sign up" class="text--centered input--submit"/>

        </form>
        <a href="/login" class="text--login text--centered">I am already a user!</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h2 class="text--centered text--flash"><b>{{ message }}</b></h2>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>