<!DOCTYPE html>

<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body align = 'center'>
    {% extends 'staffbase.html' %}
      {% block overall %}
      <div>
				<div align = 'center'>
					<h3>{{"Restaurant name: " + details.restname}}</h3>
					<h3>{{"Location: " + details.location}}</h3>
					<div display='inline-block'>
						<div float='left'>
							<h3>Minimum Amount: {{details.minAmt}}</h3>
						</div>
						<div float='right'>
							<form action="/changeminamtsuccess" method="POST">
								<input type="number" placeholder="Change minimum amount" class="input" name="minamt"/>
								<input type="submit" value="Change" class="text--centered input--submit"/>
							</form>
						</div>
					</div>
				</div>
        <div>
          <h2 align='center'> Menu </h2>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                  <h2 class="text--centered text">{{ message }}</h2>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <table border="1", style='margin-top: 20px;' align='center'>
            <tr>
              <th> Food ID </th>
              <th> Description </th>
              <th> Price </th>
              <th> Stock </th>
              <th> Category </th>
              <th> Times ordered </th>
              <th> Delete? </th>
              {% for f in menu %}
              <tr>
                <td> {{ f.foodid }}</td>
                <td>{{ f.description | safe }}</td>
                <td>{{ f.price }}</td>
                <td>{{ f.stock }}</td>
                <td> {{ f.category | safe }} </td>
                <td> {{ f.timesordered }}</td>
                <td>
                  <form action="/deleteitemsuccess" method="POST">
                    <input type="submit" value="Remove" class="text--centered input--submit"/>
                    <input type="hidden" name="foodid" value={{f.foodid}}>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div align='center'>
          <h2>Add item here</h2>
          <form action="/additemsuccess" name="signup-form" method="POST">
            <input type="text" placeholder="Food description" class="input" name="description" maxlength="30"/>
            <input type="number" placeholder="Price" class="input" name="price" maxlength="30" />
            <input type="number" placeholder="Stock" class="input" name="stock" maxlength="15"/>
            <input type="text" placeholder="Category" class="input" name="category" maxlength="15"/>
            <input type="submit" value="Add food" class="text--centered input--submit"/>
          </form>
        </div>
        <div align='center'>
          <h2>Edit item here</h2>
          <form action="/edititemsuccess" name="signup-form" method="POST">
            <input type="number" placeholder="Food ID" class="input" name="food_id" maxlength="30"/>
            <input type="text" placeholder="Food description" class="input" name="description" maxlength="30"/>
            <input type="number" placeholder="Price" class="input" name="price" maxlength="30" />
            <input type="number" placeholder="Stock" class="input" name="stock" maxlength="15"/>
            <input type="text" placeholder="Category" class="input" name="category" maxlength="15"/>
            <input type="submit" value="Edit food" class="text--centered input--submit"/>
          </form>
				</div>
				<div align='center'>
					<h2>Add promos</h2>
					<form method="POST" action="/addpromosuccess">
						<select name="promotype">
							<option value="PercentOff"> Percent Off </option>
						<option value="AmountOff"> Amount Off </option>
								<option value="" disabled selected> Select </option>
						</select>		
						<table  align = 'center'>
							<tr>
								<td> Description </td>
								<td> <input name="description" size="35"> </td>
							</tr>
							<tr>
								<td rowspan="2"> Percent / Amount Off </td>
								<td> <input type="number" name="discount" size="35" placeholder="Please enter a number between 0 to 100"> </td>
							</tr>
							<tr>
								<td style="font-size: 10pt;"> Enter '5' for 5% off or $5 off </td>
							</tr>
							<tr>
								<td> Minimum Amount </td>
								<td> <input name="minamnt" size="35" placeholder="Min. order amount for promo to apply"> </td>
							</tr>
							<tr>
								<td> Applied To </td>
								<td>  
									<select name="appliedto">
										<option value="total"> Apply discount to total order </option>
											<option value="delivery"> Apply discount to delivery charge </option>
											<option value="" disabled selected> Select </option>
									</select>
								</td>
							</tr>
							<tr>
								<td> Valid From </td>
								<td> <input name="validfrom" size="35" type="date" value="2020-04-30"> </td>
							</tr>
							<tr>
								<td> Valid Till </td>
								<td> <input name="validtill" size="35" type="date" value="2020-04-30"> </td>
							</tr>
							<tr>
								<td> Cost </td>
								<td> <input type="number" name="cost" size="35" placeholder="Number of points to redeem promo"> </td>
							</tr>
							<tr style="padding: 10px"> 
									<td> </td>
							</tr>
							<tr>
									<td colspan="2"> <input type="Submit" value="Add Promo"> </td>
							</tr>
					</table>
					</form>
				</div>
				<div>
					<h2>Promo History</h2>
					<table border="1", style='margin-top: 20px;' align='center'>
            <tr>
							<th> Promo ID </th>
              <th> Description </th>
              <th> Start time </th>
              <th> End time </th>
              <th> Type </th>
              <th> Points </th>
              <th> Delete? </th>
              {% for p in promohist %}
              <tr>
                <td> {{ p.fdspromoid }}</td>
                <td>{{ p.description | safe }}</td>
                <td>{{ p.starttime }}</td>
                <td>{{ p.endtime }}</td>
                <td> {{ p.type | safe }} </td>
                <td> {{ p.points }}</td>
                <td>
                  <form action="/deletepromosuccess" method="POST">
                    <input type="submit" value="Remove" class="text--centered input--submit">
                    <input type="hidden" name="fdspromoid" value={{p.fdspromoid}}>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>
				</div>
      </div>
      {% endblock %}
    </body>
</html>

<!--
  
-->
