<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FoodSantaTest</title>
    </head>
    <body>
        <div class="container">
            <form action="/test_submit" method="POST">
              <div class="row">
                <div class="col-25">
                  <label for="fname">Member name</label>
                </div>
                <div class="col-75">
                  <input type="text" id="fname" name="name" placeholder="Add name">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Rice Purity Score</label>
                </div>
                <div class="col-75">
                  <input type="text" id="lname" name="score" placeholder="Add score">
                </div>
              </div>
              <div class="row">
                <input type="submit" value="Submit">
              </div>
            </form>
          </div>
    </body>
</html>